body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  background: whitesmoke;
}
img {
  height: 80px;
}
.card {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.productsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.product-title{
  font-weight: 500;
}

.productsWrapper .card:hover {
  box-shadow: 0px 2px 8px #383838;
}

.btn {
  border: none;
  outline: none;
  background: gold;
  padding: 5px 10px;
  color: black;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: green;
}

.add-to-cart-btn:hover{
  background-color: black;
  color: white;
}

.remove-btn{
  border: none;
  outline: none;
  background: gold;
  padding: 5px 10px;
  color: black;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.remove-btn:hover{
  background-color: red;
}

.heading {
  padding: 25px 0;
}
.cartCount {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 40px;
}
.navLink {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.cartCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 5px;
}

#main-menu{
  padding: 5px;
  height: 40px;
  display: block;
  padding-bottom: 1rem;
}

.logo{
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

#main-menu ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

#main-menu ul li{
  list-style-type: none;
}

.cart-icon{
  width: 20%;
  height: 20%;
  z-index: 1;
}

.cart-count{
  display: inline-block;
    padding: 3px;
    background: black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    color: gold;
    vertical-align: bottom;
    position: relative;
    top: -12px;
    left: 40px;
}